In [66]:
import pandas as pd

In [67]:
prodv = pd.read_excel("../../Data/production-vegetale.xlsx")
prodv

     Occurrence    Filière          Produit             Indicateur     Valeur
0     2010/2011    Agrumes   Autres agrumes  Production-T (Tonnes)    2537.85
1     2010/2011    Agrumes   Autres agrumes        Superficie (Ha)     488.96
2     2010/2011    Agrumes           Citron  Production-T (Tonnes)   93176.72
3     2010/2011    Agrumes           Citron        Superficie (Ha)    2834.23
4     2010/2011    Agrumes    Orange_Autres  Production-T (Tonnes)   25951.90
...         ...        ...              ...                    ...        ...
2176  2019/2020  Sucrières    Canne à sucre        Superficie (Ha)   11763.00
2177  2019/2020     Vignes   Raisin de cuve  Production-T (Tonnes)  120576.00
2178  2019/2020     Vignes   Raisin de cuve        Superficie (Ha)    6312.90
2179  2019/2020     Vignes  Raisin de table  Production-T (Tonnes)  276326.80
2180  2019/2020     Vignes  Raisin de table        Superficie (Ha)   33091.70

[2181 rows x 5 columns]

In [68]:
prodv.columns

Index(['Occurrence', 'Filière', 'Produit', 'Indicateur', ' Valeur'], dtype='object')

In [69]:
# Remove leading white spaces from the column name
prodv.columns = prodv.columns.str.strip()

In [70]:
# Split the Occurrence column into Year and remove the first 4 characters
prodv['Year'] = prodv['Occurrence'].str[-4:].astype(int)
prodv.drop('Occurrence', axis=1, inplace=True)

In [71]:
# Pivot the dataframe
df_pivot = pd.pivot_table(prodv, index=['Year', 'Filière', 'Produit'], columns='Indicateur', values='Valeur')
df_pivot

Indicateur                        Production-T (Tonnes)  Superficie (Ha)
Year Filière   Produit
2011 Agrumes   Autres agrumes                   2537.85           488.96
               Citron                          93176.72          2834.23
               Orange_Autres                   25951.90          3737.54
               Orange_Maroc late              414549.44         21522.96
               Orange_Navel                   300867.41         15791.48
...                                                 ...              ...
2020 Rosacées  Pêcher-nectarine               159530.80         14357.96
     Sucrières Betterave à sucre             3631553.60         57588.80
               Canne à sucre                  792492.00         11763.00
     Vignes    Raisin de cuve                 120576.00          6312.90
               Raisin de table                276326.80         33091.70

[1095 rows x 2 columns]

In [72]:
# Reset the index and rename columns
df_pivot = df_pivot.reset_index()
df_pivot.columns.name = None
prodv = df_pivot.rename(columns={'Production-T (Tonnes)': 'Production', 'Superficie (Ha)': 'Superficie'})
prodv

      Year    Filière            Produit  Production  Superficie
0     2011    Agrumes     Autres agrumes     2537.85      488.96
1     2011    Agrumes             Citron    93176.72     2834.23
2     2011    Agrumes      Orange_Autres    25951.90     3737.54
3     2011    Agrumes  Orange_Maroc late   414549.44    21522.96
4     2011    Agrumes       Orange_Navel   300867.41    15791.48
...    ...        ...                ...         ...         ...
1090  2020   Rosacées   Pêcher-nectarine   159530.80    14357.96
1091  2020  Sucrières  Betterave à sucre  3631553.60    57588.80
1092  2020  Sucrières      Canne à sucre   792492.00    11763.00
1093  2020     Vignes     Raisin de cuve   120576.00     6312.90
1094  2020     Vignes    Raisin de table   276326.80    33091.70

[1095 rows x 5 columns]

In [73]:
# Reorder the columns
prodv = prodv[['Year', 'Filière', 'Produit', 'Production', 'Superficie']]
prodv.columns

Index(['Year', 'Filière', 'Produit', 'Production', 'Superficie'], dtype='object')

In [74]:
print("Number of years : ",len(prodv.Year.unique()))
prodv.Year.unique()

Number of years :  10

array([2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020],
      dtype=int64)

In [77]:
prodv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        1095 non-null   int64
 1   Filière     1095 non-null   object
 2   Produit     1095 non-null   object
 3   Production  1086 non-null   float64
 4   Superficie  1095 non-null   float64
dtypes: float64(2), int64(1), object(2)
memory usage: 42.9+ KB

In [82]:
prodv.duplicated().sum()

0

In [79]:
print(prodv.isnull().sum())

Year          0
Filière       0
Produit       0
Production    9
Superficie    0
dtype: int64

In [84]:
missing_values_mask = prodv.isnull().any(axis=1)
missing_values_rows = prodv[missing_values_mask]
missing_values_rows

     Year        Filière   Produit  Production    Superficie
39   2011  Industrielles  Cannabis         NaN  9.700000e+04
48   2011        Jachère   Jachère         NaN  1.497814e+06
149  2012  Industrielles  Cannabis         NaN  7.164000e+04
153  2012  Industrielles    Rosier         NaN  4.000000e+01
256  2013  Industrielles  Cannabis         NaN  7.164000e+04
260  2013  Industrielles    Rosier         NaN  4.500000e+01
363  2014  Industrielles  Cannabis         NaN  6.150000e+04
471  2015  Industrielles  Cannabis         NaN  6.150000e+04
804  2018  Industrielles  Cannabis         NaN  5.335292e+04

In [86]:
prodv = prodv.dropna()

In [87]:
prodv.shape

(1086, 5)

In [88]:
prodv

      Year    Filière            Produit  Production  Superficie
0     2011    Agrumes     Autres agrumes     2537.85      488.96
1     2011    Agrumes             Citron    93176.72     2834.23
2     2011    Agrumes      Orange_Autres    25951.90     3737.54
3     2011    Agrumes  Orange_Maroc late   414549.44    21522.96
4     2011    Agrumes       Orange_Navel   300867.41    15791.48
...    ...        ...                ...         ...         ...
1090  2020   Rosacées   Pêcher-nectarine   159530.80    14357.96
1091  2020  Sucrières  Betterave à sucre  3631553.60    57588.80
1092  2020  Sucrières      Canne à sucre   792492.00    11763.00
1093  2020     Vignes     Raisin de cuve   120576.00     6312.90
1094  2020     Vignes    Raisin de table   276326.80    33091.70

[1086 rows x 5 columns]

In [90]:
prodv.to_csv('../../Data/production-vegetale_prepared.csv', index=False)